@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to GamesOn, your go-to destination for information on top-played games and prestigious game awards! Our platform is designed with gaming enthusiasts in mind, providing you with insights into the gaming world.</p>

<h2>Home Page</h2>
<p>On our Home Page, you'll find a curated list of the top-played games on Xbox and PlayStation. Stay updated on the latest trends and discover must-play titles for your gaming console.</p>

<h2>Game Awards</h2>
<p>Explore the winners and nominees of prestigious gaming awards from 2014 to 2023. From thrilling action games to captivating storylines, our Game Awards page showcases the best in the gaming industry.</p>

<h2>Assignment Information</h2>
<p>This project is part of the Assignment 2 and Assignment 3 submission for the course ISEM 551 at Harrisburg University. It serves as an interactive and informative platform for gamers and a demonstration of skills learned in the course.</p>